body{
    font-family: 'Roboto', sans-serif; 
}
h1{
    font-size: 50px;
    font-weight: 600px;
}
.header{
    display: flex;
    margin-bottom: 20px;
}
.header p{
    text-align: center;
}
.skip-color{
    color:#FB9149;
}
.about-sec{
    width: 50%;
    padding: 10%;
}
.about-me{
    color: gray;
    margin-left: 100px;
}
.first-button{
    text-decoration: none;
    background-image: linear-gradient(#FB9149,#FE4B2F);
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 400;
    color: white;
    display: inline-block;
    margin-left: 100px;
    margin-top: 30px;
}
.female-pic-size img {
    width: 98%;
}
.female-pic-size2 img {
    width: 40%;
    margin-left: 300px;
    margin-top: 24%;
}
.middle-banner{
    background-image: url(images/shapes/7.png);
    display: flex;
    margin-bottom: 50px;
}
.second-button{
    text-decoration: none;
    background-image: linear-gradient(#FB9149,#FE4B2F);
    padding: 10px 40px;
    font-weight: 400;
    color: white;
    border-radius: 5px;
    display: inline-block;
    margin-top: 20px;
    margin-left: 25px;
}
.recepies{
    color: gray;
    font-size: 20px;
    text-align: center;
}
.recepies p{
    margin-left: 10%;
    margin-right: 10%;
}
.list{
    display: flex;
    margin-bottom: 50px;
}
.list-1{
    width: 20%;
}
.list-1 img{
    width: 100%;
}
.list-1 h3{
    font-weight: 400px;
}
.shadow{
    box-shadow: 10px 10px 40px black;
    margin-right: 2%;
    margin-left: 6%;
    padding:2%;
    border-radius: 35px;
}
footer{
    color: #FE4B2F ;
    background-color: black;
    text-align: center;
    padding: 5%;
}
small{
    color: white;
}
.footer-sec{
    color: white;
}
.show-off{
    padding: 2%;
    box-shadow: 10px 10px 40px black;
    border-radius: 30px;
    margin-bottom: 25px;
    margin-left: 90px;
    margin-right: 90px;
}
.ending{
    display: flex;
}
.subs{
    width: 25%;
    margin-left: 10%;
}
.subs h2{
    font-size: 40px;
    font-weight: 600px;
    text-align: center;
}
.subs p{
    text-align: center;
}
